repos:
  - repo: local
    hooks:
      - id: ty-type-check
        name: ty type check
        entry: uv run ty check
        language: system
        types: [ python ]
  
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [ --fix ]

  - repo: "https://github.com/astral-sh/uv-pre-commit"
    rev: 0.9.18
    hooks:
      - id: uv-lock
        name: Update uv.lock
        files: ^pyproject\.toml$
